{% section 'slideshow' %}

{{ content_for_index }}

<div class="ls-container">
{% include 'limespot-you-may-like' %}
{% include 'limespot-most-popular' %}
{% include 'limespot-recently-viewed' %}
</div>